@model HotelWebApp.Data.Entities.Reservation
@{
    ViewData["Title"] = "Cancel Reservation";
}

<h1>@ViewData["Title"]</h1>
<h3>Are you sure you want to cancel this reservation?</h3>

<div>
    <dl class="row">
        <dt class="col-sm-3">Room Number</dt>
        <dd class="col-sm-9">@Model.Room.RoomNumber</dd>
        <dt class="col-sm-3">Check-in Date</dt>
        <dd class="col-sm-9">@Model.CheckInDate.ToShortDateString()</dd>
    </dl>

    <form asp-action="Cancel" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Yes, Cancel" class="btn btn-danger" /> |
        <a asp-action="MyReservations">No, Go Back</a>
    </form>
</div>
